<p>Month Calendar</p>

<%= month_calendar do |date| %>
    <%= date.day %>
<% end %>

<p>************************************************************************************************</p>
<p>Week Calendar</p>
<%= week_calendar do |date| %>
    <%= date.day %>
<% end %>
